<%  include partials/header  %>


<div class="container">



<h5>Get honest feedback from your coworkers and friends</h5>
<br>





    
      <div class="row">
           <div class="col-lg-6">

                 <h4><b> At work </b><h4>
                 <ul>
                 <li>  <h5> Enhance your areas of strength </h5>  </li>
                 <li> <h5> Strengthen Areas for Improvement  </h5> </li>
                 </ul>

           </div>



           <div class="col-lg-6">



                 <h4><b> With Your Friends </b><h4>
                 <ul>
                 <li>  <h5> Improve your friendship by discovering your strengths and areas for improvement </h5>  </li>
                 <li> <h5>  Let your friends be honest with you  </h5> </li>
                 </ul>




           </div>

	
   
	
</div>


                <br>
              <b>     <a class="anchor" href="#">Register</a> </b> |
              <b>     <a class="anchor" href="#">Login</a>   </b>
              <b>     <a class="anchor" href="#">Message</a>   </b>

</div>

<%  include partials/footer  %>