
.navbar-default
{
	background:   #fff;
    border:       0;
    font-family:  Poppins;

}



.navbar-brand
{
    font-size:     2000px;
    color:         #000   !importanat;
    font-weight:   bold;
    

}